body {
    margin: 0;
    background-image: url('./something-green-background.jpg');
    background-size: cover;
    
}

h1 {
    justify-items: center;
    align-items: center;
    text-align: center;
}

#ContactSchemeButton {
    justify-self: center;
    min-width: 150px;
    min-height: 90px;
    border-radius: 10px;
    font-size: 20px;
    cursor:pointer;
}

#ContactSchemeDiv {
    align-self: center;
    place-self: center;
    text-align: center;
}

#app {
    background-size: cover;
}